:root {
    --fontSizeNormal: 20px;
    --lightGray1: #D1D1D1; 
}

body {
    margin: 0;
    background: #F6F7F8;
    font-family: 'Inter';
    font-weight: 400;
    font-size: var(--fontSizeNormal);
}

h2 { /* Feldtitel in ADD TASK und Kontaktnamen in CONTACTS */ 
    font-size: var(--fontSizeNormal);
    font-weight: 400;
    margin: 0;
    display: flex;
}

input,
textarea {
    border-radius: 10px;
    border: 1px solid var(--lightGray1);
    outline: none;
    font-family: 'Inter';
    font-size: var(--fontSizeNormal);
    padding: 12px 21px;
}

input::placeholder,
textarea::placeholder {
    color: var(--lightGray1);
}

.logo {
    position: absolute;
    width: 100.03px;
    height: 121.97px;
    top: 80px;
    left: 77px;
}

.indexWrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    width: 100vw;
}

.toSignUp {
    display: flex;
    justify-content: flex-end;
    width: 100%
}

.logIn {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 652px;
    height: 493px;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: white;
}

.logInForm {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

footer {
    width: 100%;
    display: flex;
    justify-content: center;
}

/* ADD TASK */
.addTaskFormMain {
    display: flex;
}

.addTaskField {
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin-bottom: 16px;
}

.red {
    color: red;
    margin: 0;
}