:root {
    --fontSizeNormal: 20px;
    --fontSizeSmall: 16px;
    --menuBarWidth: 232px;
    --lightGray1: #D1D1D1;
    --darkBlue1: #2A3647;
}

body {
    margin: 0;
    background: #F6F7F8;
    font-family: 'Inter';
    font-weight: 400;
    font-size: var(--fontSizeNormal);
}

.main {
    width: calc(100vw - var(--menuBarWidth));
}

p {
    margin: 0;
}

h2 {
    /* Feldtitel in ADD TASK und Kontaktnamen in CONTACTS */
    font-size: var(--fontSizeNormal);
    font-weight: 400;
    margin: 0;
    display: flex;
}

.fontSizeSmall {
    font-size: var(--fontSizeSmall);
}

button {
    border-radius: 10px;
    border: none;
    outline: none;
    font-size: var(--fontSizeNormal);
    padding: 16px;
}

.btnPrimary {
    background: var(--darkBlue1);
    color: white;
    font-weight: 700;
}

.btnSecondary {
    border: 1px solid var(--darkBlue1);
    background: none;
    color: var(--darkBlue1);
}

/* vr für "vertical ruler", vertikale Linie */
.vr {
    width: 1px;
    max-height: 100%;
    background: var(--lightGray1);
}

input,
textarea,
select {
    /* "max-width" statt "width", da sonst das Padding zur Breite addiert wird */
    max-width: 100%;
    border-radius: 10px;
    border: 1px solid var(--lightGray1);
    outline: none;
    font-family: 'Inter';
    font-size: var(--fontSizeNormal);
}

input,
textarea {
    padding: 12px 21px;
}

select {
    padding: 7px 21px;
}

input::placeholder,
textarea::placeholder {
    color: var(--lightGray1);
}

/* Standard-Resizer (Textarea) verstecken */
::-webkit-resizer {
    display: none;
}

/* neuer Resizer als Hintergrundbild */
textarea {
    background-image: url(./assets/img/resize-handle.svg);
    background-size: 19px;
    background-repeat: no-repeat;
    background-position: calc(100% - 5px) calc(100% - 4px);
}

.logo {
    position: absolute;
    width: 100.03px;
    height: 121.97px;
    top: 80px;
    left: 77px;
}

.indexWrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    width: 100vw;
}

.toSignUp {
    display: flex;
    justify-content: flex-end;
    width: 100%
}

.logIn {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 652px;
    height: 493px;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: white;
}

.logInForm {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

footer {
    width: 100%;
    display: flex;
    justify-content: center;
}

/* ADD TASK */
.addTaskForm {
    padding: 0 96px;
    display: flex;
    flex-direction: column;
}

.addTaskFormMain {
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: fit-content;
}

.addTaskFormMainSide {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.addTaskField {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.red {
    color: red;
    margin: 0;
}

.addTaskPrioBtns {
    display: flex;
    gap: 16px;
}

.addTaskPrioBtns button {
    min-width: calc((100% - 32px)/3);
}

.addTaskBottom {
    /* "flex" für vertikale Größe */
    flex: 1;
    margin-top: 32px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.addTaskBottom div {
    display: flex;
    align-items: flex-end;
}

.addTaskBottom div:nth-child(2) {
    gap: 16px;
}


/* summary site */

.summary {
    width: 100vw;
    height: 100vh;
    background-color: #F6F7F8;
}

.sumHead {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
}

.sumHead p {
    color: #2A3647;
    font-size: 27px;
    font-weight: 400;
}

.sumHead h1 {
    margin: 0;
    font-size: 61px;
    font-weight: 700;
}

.sumHeadDash {
    border-left: 3px solid #29ABE2;
    height: 59px;
    border-radius: 3px;
}

.sumHeadPosition {
    position: fixed;
    top: 206px;
    left: 328px;
}

.sumToDo {
    background-color: #FFFFFF;
    width: 264px;
    height: 168px;
    border-radius: 30px;
    border: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 18px;
    cursor: pointer;
}

.sumToDo:hover {
    background-color: #2A3647;
    color: #FFFFFF;
    scale: 1.1;
    transition: ease-in-out 100ms;
}

.sumToDoDone {
    background-color: #FFFFFF;
    width: 264px;
    height: 168px;
    border-radius: 30px;
    border: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 18px;
    cursor: pointer;
}

.sumToDoDone:hover {
    background-color: #2A3647;
    color: #FFFFFF;
    scale: 1.1;
    transition: ease-in-out 100ms;
}

.sumUpcoming {
    background-color: #FFFFFF;
    width: 560px;
    height: 168px;
    border-radius: 30px;
    border: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    cursor: pointer;
}

.sumUpcoming:hover {
    background-color: #2A3647;
    color: #FFFFFF;
    scale: 1.1;
    transition: ease-in-out 100ms;
}

.sumTasks {
    background-color: #FFFFFF;
    width: 168px;
    height: 168px;
    border-radius: 30px;
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    cursor: pointer;
}

.sumTasks:hover {
    background-color: #2A3647;
    color: #FFFFFF;
    scale: 1.1;
    transition: ease-in-out 100ms;
}

.sumTasksPos {
    display: flex;
    flex-direction: row;
    gap: 28px;
}

.sumToDoPos {
    display: flex;
    flex-direction: row;
    gap: 32px;
}

.dashboard {
    position: fixed;
    display: flex;
    flex-direction: column;
    width: 560px;
    height: 562px;
    top: 335px;
    left: 328px;
    gap: 28px
}

.textToDo {
    text-align: center;
}

.img69px {
    height: 69px;
    width: 69px;
}

.font64pxBold {
    font-size: 64px;
    font-weight: 600;
}

.font64pxBold700 {
    font-size: 64px;
    font-weight: 700;
}

.font16px {
    font-size: 16px;
}

.font21pxBold {
    font-size: 21px;
    font-weight: 700;
}

.font47pxBold500 {
    font-size: 47px;
    font-weight: 500;
}

.dateDeadline {
    display: flex;
    flex-direction: column;
    gap: 13px;
}

.sumUrgentDash {
    border-left: 2px solid #D1D1D1;
    height: 102.02px;
    border-radius: 2px;
}

.sumLogoUrgent {
    display: flex;
    flex-direction: row;
    gap: 18px;
    text-align: center;
}

.greeting {
    height: 136px;
    width: 385px;
    position: fixed;
    left: 968px;
    top: 547.5px;
}

.lightBlue {
    color: #29ABE2;
}

.sumToDo:hover .img69px {
        content: url('assets/img/sum_todo_white.svg');
}

.sumToDoDone:hover .img69px {
    content: url('assets/img/sum_done_white.svg');
}