:root {
    --fontSizeNormal: 20px;
    --fontSizeSmall: 16px;
    --menuBarWidth: 232px;
    --shadowSubtle: 0px 0px 4px 0px rgba(0, 0, 0, 0.10);
    --shadowStronger: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    --lightGray1: #D1D1D1;
    --darkBlue1: #2A3647;
    --darkBlue2: #091931;
    --lightBlue1: #29ABE2;
}

body {
    margin: 0;
    background: #F6F7F8;
    font-family: 'Inter';
    font-weight: 400;
    font-size: var(--fontSizeNormal);
}

.main {
    width: calc(100vw - var(--menuBarWidth));
    padding-left: var(--menuBarWidth);
}

p {
    margin: 0;
}

h2 {
    /* Feldtitel in ADD TASK und Kontaktnamen in CONTACTS */
    font-size: var(--fontSizeNormal);
    font-weight: 400;
    margin: 0;
    display: flex;
}

.fontSizeSmall {
    font-size: var(--fontSizeSmall);
}

button {
    cursor: pointer;
    border-radius: 10px;
    border: none;
    outline: none;
    font-family: 'Inter';
    font-size: var(--fontSizeNormal);
    padding: 16px;
}

button:hover {
    box-shadow: var(--shadowStronger);
}

.btnPrimary {
    background: var(--darkBlue1);
    color: white;
    font-weight: 600;
}

.btnPrimary:hover {
    background: var(--lightBlue1);
}

.btnPrimary:active {
    background: var(--darkBlue2);
}

.btnSecondary {
    border: 1px solid var(--darkBlue1);
    background: none;
    color: var(--darkBlue1);
}

.btnSecondary:hover {
    border-color: var(--lightBlue1);
    color: var(--lightBlue1);
}

.btnSecondary:active {
    border-color: var(--darkBlue2);
    color: var(--darkBlue2);
}

/* vr für "vertical ruler", vertikale Linie */
.vr {
    width: 1px;
    max-height: 100%;
    background: var(--lightGray1);
}

input,
textarea,
select {
    /* "max-width" statt "width", da sonst das Padding zur Breite addiert wird */
    max-width: 100%;
    border-radius: 10px;
    border: 1px solid var(--lightGray1);
    outline: none;
    font-family: 'Inter';
    font-size: var(--fontSizeNormal);
}

input,
textarea {
    padding: 12px 16px;
}

input::placeholder,
textarea::placeholder {
    color: var(--lightGray1);
}

input:focus,
textarea:focus {
    border-color: var(--lightBlue1);
}

/* Default-Resizer (Textarea) verstecken */
::-webkit-resizer {
    display: none;
}

/* neuer Resizer */
textarea {
    background-image: url(./assets/img/resize-handle.svg);
    background-size: 19px;
    background-repeat: no-repeat;
    background-position: calc(100% - 5px) calc(100% - 4px);
}

select {
    padding: 12px 12px;
    /* Default-Pfeil verstecken */
    -webkit-appearance: none;
    appearance: none;
    /* neuer Pfeil */
    background-image: url(./assets/img/select_icon.svg);
    background-size: 24px;
    background-repeat: no-repeat;
    background-position: calc(100% - 12px) 50%;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    background-image: url(./assets/img/calendar_icon.svg);
    background-size: 24px;
}

.logo {
    position: absolute;
    width: 100.03px;
    height: 121.97px;
    top: 80px;
    left: 77px;
}

.indexWrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    width: 100vw;
}

.toSignUp {
    display: flex;
    justify-content: flex-end;
    width: 100%
}

.logIn {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 652px;
    height: 493px;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: white;
}

.logInForm {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

footer {
    width: 100%;
    display: flex;
    justify-content: center;
}

/* summary site */

.summary {
    background-color: #F6F7F8;
}

.sumHead {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
}

.sumHead p {
    color: #2A3647;
    font-size: 27px;
    font-weight: 400;
}

.sumHead h1 {
    margin: 0;
    font-size: 61px;
    font-weight: 700;
}

.sumHeadDash {
    border-left: 3px solid #29ABE2;
    height: 59px;
    border-radius: 3px;
}

.sumHeadPosition {
    position: fixed;
    top: 206px;
    left: 328px;
}

.sumToDo {
    background-color: #FFFFFF;
    width: 264px;
    height: 168px;
    border-radius: 30px;
    border: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 18px;
    cursor: pointer;
}

.sumToDo:hover {
    background-color: #2A3647;
    color: #FFFFFF;
    scale: 1.1;
    transition: ease-in-out 100ms;
}

.sumToDoDone {
    background-color: #FFFFFF;
    width: 264px;
    height: 168px;
    border-radius: 30px;
    border: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 18px;
    cursor: pointer;
}

.sumToDoDone:hover {
    background-color: #2A3647;
    color: #FFFFFF;
    scale: 1.1;
    transition: ease-in-out 100ms;
}

.sumUpcoming {
    background-color: #FFFFFF;
    width: 560px;
    height: 168px;
    border-radius: 30px;
    border: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    cursor: pointer;
}

.sumUpcoming:hover {
    background-color: #2A3647;
    color: #FFFFFF;
    scale: 1.1;
    transition: ease-in-out 100ms;
}

.sumTasks {
    background-color: #FFFFFF;
    width: 168px;
    height: 168px;
    border-radius: 30px;
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    cursor: pointer;
}

.sumTasks:hover {
    background-color: #2A3647;
    color: #FFFFFF;
    scale: 1.1;
    transition: ease-in-out 100ms;
}

.sumTasksPos {
    display: flex;
    flex-direction: row;
    gap: 28px;
}

.sumToDoPos {
    display: flex;
    flex-direction: row;
    gap: 32px;
}

.dashboard {
    position: fixed;
    display: flex;
    flex-direction: column;
    width: 560px;
    height: 562px;
    top: 335px;
    left: 328px;
    gap: 28px
}

.textToDo {
    text-align: center;
}

.img69px {
    height: 69px;
    width: 69px;
}

.font64pxBold {
    font-size: 64px;
    font-weight: 600;
}

.font64pxBold700 {
    font-size: 64px;
    font-weight: 700;
}

.font16px {
    font-size: 16px;
}

.font21pxBold {
    font-size: 21px;
    font-weight: 700;
}

.font47pxBold500 {
    font-size: 47px;
    font-weight: 500;
}

.dateDeadline {
    display: flex;
    flex-direction: column;
    gap: 13px;
}

.sumUrgentDash {
    border-left: 2px solid #D1D1D1;
    height: 102.02px;
    border-radius: 2px;
}

.sumLogoUrgent {
    display: flex;
    flex-direction: row;
    gap: 18px;
    text-align: center;
}

.greeting {
    height: 136px;
    width: 385px;
    position: fixed;
    left: 968px;
    top: 547.5px;
}

.lightBlue {
    color: #29ABE2;
}

.sumToDo:hover .img69px {
    content: url('assets/img/sum_todo_white.svg');
}

.sumToDoDone:hover .img69px {
    content: url('assets/img/sum_done_white.svg');
}

@media (max-height: 905px) {
    .sumHeadPosition {
        top: 108px;
    }

    .dashboard {
        top: 198px;
    }

    .greeting {
        top: 408.5px;
    }
}

@media (max-width: 1360px) {
    .sumHeadPosition {
        left: 280px;
    }

    .dashboard {
        left: 280px;
    }
    .greeting {
        left: 870px;
    }
}

@media (max-width: 1260px) {
    .greeting {
        left: 860px;
    }

    .font47pxBold500 {
        font-size: 33px;
        font-weight: 400;
    }

    .font64pxBold700 {
        font-size: 50px;
        font-weight: 500;
    }
}

@media (max-width: 1150px) {
    .greeting {
        display: none;
    }
}

@media (max-width: 920px) {
    .sumHead h1 {
        font-size: 47px;
    }

    .sumHead p {
        font-size: 20px;
    }

    .sumHeadDash {
        transform: rotate(90deg);
        height: 90px;
    }

    .sumToDo {
        width: 186px;
        height: 110px;
    }

    .sumToDoDone {
        width: 186px;
        height: 110px;
    }

    .sumUpcoming {
        width: 396px;
        height: 110px;
    }

    .sumTasks {
        width: 116px;
        height: 116px;
    }

    .font64pxBold {
        font-size: 47px;   
    }

    .font14pxBold400 {
        font-size: 14px;
        font-weight: 400;
    }

    .font16pxBold700 {
        font-size: 16px;
        font-weight: 700;
    }

    .sumHead {
        flex-direction: column;
        gap: 8px;
    }
}

/* Header */

header {
    height: 96px;
    max-width: 1440px;
    padding-right: 32px;
    padding-left: 350px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
}

#smalInterface {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

#user {
    box-sizing: border-box;
    width: 56px;
    height: 56px;
    color: #28abe2;
    font-weight: bold;
    border: 3px solid #2A3647;
    border-radius: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#mobileLogo {
    display: none;
}

#mobileMenuBox {
    display: none;
}

#mobileAddContactBtnContainer {
    display: none;
}

/* Aside Menu */

aside {
    width: 232px;
    padding: 62px 0px;
    background-color: #2a3647;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#menuBox {
    height: 229px;
    width: 232px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
    position: relative;
    top: -50px;
}

.linkAlign {
    color: #CDCDCD;
    font-size: 16px;
    font-weight: 400;
    height: 46px;
    padding: 8px 56px;
    display: flex;
    align-items: center;
    gap: 8px;
}

.linkAlign img {
    height: 30px;
    width: 30px;
}

.activ_bg {
    background-color: #091931;
}

#infos {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

#infos a {
    font-size: 16px;
    font-weight: 400;
    color: #CDCDCD;
    text-decoration: none;
    padding: 8px;
}

/* Conatcts */

#contacts {
    width: 456px;
    background-color: white;
    overflow-y: scroll;
    box-shadow: 4px 0px 6px 0 rgba(0, 0, 0, 0.08);
    z-index: 999;
    position: fixed;
    top: 96px;
    left: 232px;
    bottom: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#addContactBtnContainer {
    min-height: 101px;
    display: flex;
    align-items: center;
}

#addContactBtn {
    width: 352px;
    color: white;
    background-color: #2A3647;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

#myContactsContainer {
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.alphabet {
    width: 352px;
    height: 58px;
    display: flex;
    align-items: center;
}

.alphabetLetter {
    padding-left: 40px;
}

.seperator {
    height: 16px;
    display: flex;
    justify-content: center;
}

#myContacts {
    width: 352px;
}

.contactCard {
    height: 78px;
    padding-left: 40px;
    display: flex;
    align-items: center;
    gap: 35px;
}

.contactInitials {
    font-size: 12px;
    font-weight: 400;
    color: white;
    height: 42px;
    width: 42px;
    box-sizing: border-box;
    border: 2px solid white;
    border-radius: 45px;
    background-color: #FF7A00;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contactDetails {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
}

.contactName {
    font-size: 20px;
}

.mailColor {
    color: #007CEE;
    font-size: 16px;
}

/* Contacts Title Bar */

#contactTitleBar {
    position: absolute;
    top: 206px;
    left: 743px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

#contactsTitle {
    font-size: 61px;
    font-weight: 700;
}

#devider {
    height: 59px;
    width: 3px;
    background-color: #29ABE2;

}

#contactsSlogan {
    font-size: 27px;
    font-weight: 400;
}

/* Contact Title Bar (mobile) */

@media (max-width: 1400px) {
    #contactTitleBar {
        flex-direction: column;
        gap: 16px;
    }

    #devider {
        height: 3px;
        width: 59px;
    }
}

@media (max-width: 1050px) {
    #contactTitleBar {
        display: none;
    }

    #contacts {
        width: auto;
        right: 0;
    }
}

@media (max-width: 950px) {
    header {
        justify-content: end;
    }

    #headerName {
        display: none;
    }

    #smalInterface img {
        display: none;
    }
}

@media (max-width: 700px) {
    header {
        height: 80px;
        padding: 0px 32px;
        justify-content: space-between;
    }

    #mobileLogo {
        display: block;
    }

    #user {
        height: 40px;
        width: 40px;
        border: 2px solid #2A3647;
        font-size: 14px;
    }

    aside {
        display: none;
    }

    #contacts {
        z-index: -1;
        padding: 17px 0px;
        top: 80px;
        bottom: 80px;
        left: 0;
        box-shadow: none;
    }

    #mobileMenuBox {
        height: 80px;
        background-color: #2A3647;
        display: flex;
        justify-content: center;
        gap: 20px;
        position: fixed;
        left: 0;
        right: 0;
        bottom: 0;
    }

    .linkAlign {
        height: 76px;
        width: 80px;
        padding: 0px;
        border-radius: 16px;
        justify-content: center;
        flex-direction: column;
    }

    .linkAlign img {
        height: 24px;
    }

    .activ_bg img {
        filter: brightness(2);
    }

    .linkAlign a {
        font-family: Open Sans, sans-serif;
        font-size: 14px;
        font-weight: 400;
    }
}

@media (max-width: 428px) {
    #addContactBtnContainer {
        display: none;
    }

    #mobileAddContactBtnContainer {
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 758px;
        right: 16px;
    }

    #mobileAddContactBtn {
        height: 56px;
        width: 56px;
        padding: 0;
        background-color: #2A3647;
        border: 1px solid #2A3647;
        border-radius: 45px;
        box-shadow: 0px 4px 4px 0 rgba(0, 0, 0, 0.25);
    }
}