.editTaskCard {
    width: calc(100% + var(--scrollbarWidth));
    border-radius: 0;
    box-shadow: none;
}

.editTaskCard .addTaskForm {
    padding: 0;
}

.editTaskCard .addTaskFormMain {
    flex-direction: column;
    gap: 24px;
    padding-top: 0;
}

/* 1-Spalten-Layout */
.editTaskCard #formSeperator {
    display: none;
}

.editTaskCard #assignedIcons {
    position: initial;
}

.editTaskCard .addTaskFormMainSideOne {
    gap: 24px;
}