:root {
    --sidePadding: 144px;
    --top: 110px;
    --bottom: 80px;
    --subtasksLiHeight: 32px;
    --subtasksLiVerticalMargin: 6px;
    --absoluteContentWidth: calc(100vw - var(--menuBarWidth) - calc(var(--sidePadding) * 5 / 2));
}

.addTaskForm {
    flex: 1;
    margin: var(--top) calc(var(--sidePadding) * 3 / 2) var(--bottom) var(--sidePadding);
    display: flex;
    flex-direction: column;
    height: calc(100vh - var(--top) - var(--bottom) - 96px);
    max-width: 1920px;
}

.addTaskFormMain {
    padding-top: 48px;
    width: 100%;
    display: flex;
    gap: calc(var(--sidePadding) / 2);
}

.addTaskFormMainSide {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.addTaskFormMainSideOne {
    gap: 32px;
}

.addTaskFormMainSideTwo {
    gap: 24px;
}

.addTaskForm h2 {
    color: var(--darkBlue1);
}

.addTaskField {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.red {
    color: #FF8190;
    margin: 0;
}

#addTaskAssignedMenu li {
    display: flex;
    gap: 16px;
}

#addTaskAssignedMenu li:hover {
    background: var(--darkBlue1);
    color: white;
}

#addTaskAssignedMenu li:hover button img {
    content: url('../img/checkbox_white.svg');
}

#addTaskAssignedMenu li:hover .checked {
    content: url('../img/checkbox_white_checked.svg');
}


#addTaskAssignedMenu li:active {
    background: var(--darkBlue2);
}

#addTaskAssignedMenu li .contactDetails {
    flex: 1;
}

#addTaskAssignedMenu li button {
    background: none;
    margin: 0;
    padding: 0;
}

#addTaskDueContainer {
    width: 100%;
    display: flex;
    gap: 0;
    margin: 0;
    background: white;
    border-radius: 10px;
    border: 1px solid var(--lightGray1);
    box-sizing: border-box;
    position: relative;
}

#addTaskDueContainer:hover {
    border-color: #BEBEBE;
}

#addTaskDueContainer:active {
    border-color: var(--lightBlue1);
}

#addTaskDueText {
    border: none;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 48px;
}

#addTaskDue {
    border: none;
    width: 100%;
    cursor: text;
}

.addTaskPrioBtns {
    display: flex;
    gap: 16px;
}

.addTaskPrioBtns button {
    min-width: calc((100% - 32px)/3);
    background: white;
    box-shadow: var(--shadowSubtle);
    display: flex;
    gap: 8px;
    justify-content: center;
    align-items: center;
}

.addTaskPrioBtns button:hover {
    box-shadow: var(--shadowStronger);
}

.addTaskPrioBtnsSelected {
    color: white;
    font-weight: 600;
    box-shadow: none;
}

button.addTaskPrio1Selected {
    background: #FF3D00;
}

button.addTaskPrio2Selected {
    background: #FF7A00;
}

button.addTaskPrio3Selected {
    background: #7AE229;
}

.addTaskPrioBtns button img {
    width: 20px;
}

#addSubtaskInputContainer {
    cursor: text;
}

#addSubtaskIconsActive {
    display: flex;
    gap: 4px;
}

.subtasksContainer {
    width: 100%;
    display: flex;
    flex: 1;
    overflow-y: auto;
    margin: var(--subtasksLiVerticalMargin) 0;
}

#subtasksLeftMargin {
    width: calc((var(--absoluteContentWidth) + 1px + var(--sidePadding)) / 2);
}

.subtasksListContainer {
    flex: 1;
    min-height: 0;
}

#subtasksList {
    margin: 0;
    padding: 0;
}

#subtasksList li {
    font-size: var(--fontSizeSmall);
    border-radius: 10px;
    margin: 0 0 calc(var(--subtasksLiVerticalMargin) * 2) 0;
    padding: 0 16px;
    display: flex;
    gap: 2px;
    align-items: center;
    height: var(--subtasksLiHeight);
}

#subtasksList li:hover {
    background: var(--lightGray4);
}

#subtasksList li span {
    flex: 1;
    margin-left: 8px;
}

#subtasksList li button {
    margin: 0;
    padding: 0;
    background: none;
    box-shadow: none;
}

#subtasksList li button img {
    display: block;
}

#subtasksList li button,
#subtasksList li .vr {
    display: none;
}

#subtasksList li:hover button,
#subtasksList li:hover .vr,
#subtasksList .editSubtask button,
#subtasksList .editSubtask .vr {
    display: initial;
}

#subtasksList li:hover button:hover {
    filter: invert(56%) sepia(80%) saturate(2198%) hue-rotate(166deg) brightness(102%) contrast(77%);
}

#subtasksList .editSubtask:hover button:hover {
    filter: none;
}

#subtasksList .editSubtask button img:hover {
    background: var(--lightGray4);
    border-radius: 50%;
}

#subtasksList .editSubtask {
    border-radius: 0;
    border-bottom: 1px solid var(--lightBlue1);
    box-sizing: border-box;
    height: calc(var(--subtasksLiHeight));
    background: white;
    display: flex;
    align-items: center;
}

#subtasksList .editSubtask:hover {
    background: white;
}

#subtasksList li input {
    flex: 1;
    font-size: var(--fontSizeSmall);
    background: none;
    border: none;
    padding: 0;
    border-radius: 0;
}

#subtasksList .vr {
    height: 24px;
}

.addTaskBottom {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.addTaskBottom div {
    display: flex;
    align-items: flex-end;
}

.addTaskBottom div:nth-child(2) {
    gap: 16px;
}

.addTaskBottom button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 44px;
}

.addTaskBottom .btnPrimary {
    background-image: url('../img/check_white.svg');
    background-repeat: no-repeat;
    background-position: calc(100% - 16px) 50%;
}

.addTaskBottom .btnSecondary {
    background-image: url('../img/cancel.svg');
    background-repeat: no-repeat;
    background-position: calc(100% - 16px) 50%;
}

.addTaskBottom .btnSecondary:hover {
    background-image: url('../img/cancel_hover.svg');
}

.addTaskBottom .btnSecondary:active {
    background-image: url('../img/cancel_active.svg');
}

@media (max-height: 1008px) {
    :root {
        --top: 80px;
    }
}

@media (max-height: 976px) {
    :root {
        --top: 60px;
        --bottom: 60px;
    }
}

@media (max-height: 952px) {
    :root {
        --top: 48px;
        --bottom: 32px;
    }
}

@media (max-width: 1920px) {
    :root {
        --sidePadding: 128px;
        --absoluteContentWidth: calc(100vw - var(--menuBarWidth) - calc(var(--sidePadding) * 5 / 2));
    }

    .addTaskForm {
        max-width: calc(100% - var(--sidePadding) * 5 / 2);
    }
}

@media (max-width: 1440px) {
    :root {
        --sidePadding: 96px;
        --absoluteContentWidth: calc(100vw - var(--menuBarWidth) - calc(var(--sidePadding) * 5 / 2));
    }
}

@media (max-width: 1360px) {
    :root {
        --sidePadding: 64px;
        --fontSizeHuge: 54px;
        --fontSizeNormal: 18px;
        --top: 80px;
        --bottom: 64px;
        --absoluteContentWidth: calc(100vw - var(--menuBarWidth) - calc(var(--sidePadding) * 2));
    }

    .addTaskForm {
        margin: var(--top) var(--sidePadding) var(--bottom) var(--sidePadding);
        max-width: calc(100% - var(--sidePadding) * 2);
    }

    .addTaskFormMain {
        padding-top: 32px;
    }

    input,
    .extendedInput {
        height: 44px;
    }

    textarea {
        padding-top: 16px;
        height: 104px;
    }

    .addTaskBottom .btnPrimary,
    .addTaskBottom .btnSecondary {
        font-size: 20px;
    }
}

@media (max-width: 1150px) {
    :root {
        --sidePadding: 40px;
        --fontSizeNormal: 16px;
        --top: 48px;
        --bottom: 32px;
    }

    .addTaskFormMain {
        gap: calc(var(--sidePadding) * 2/3);
    }

    #formSeperator {
        display: none;
    }

    #subtasksLeftMargin {
        width: calc(var(--absoluteContentWidth) / 2 + var(--sidePadding) / 3);
    }
}

@media (max-width: 1050px) {
    .addTaskFormMain {
        flex-direction: column;
    }

    .addTaskForm {
        height: auto;
    }

    input,
    .extendedInput {
        height: 40px;
    }

    textarea {
        padding-top: 14px;
        height: 88px;
    }

    .subtasksContainer {
        width: 100%;
        justify-content: flex-start;
    }

    #subtasksLeftMargin {
        display: none;
    }

    #subtasksList {
        width: 100%;
        overflow-y: visible;
    }

    .addTaskBottom .btnSecondary {
        display: none;
    }
}

@media (max-width: 950px) {}

@media (max-width: 920px) {
    :root {
        --fontSizeHuge: 47px;
    }
}

@media (max-width: 700px) {
    :root {
        --sidePadding: 16px;
        --bottom: 166px;
    }

    .main {
        width: calc(100vw - var(--scrollbarWidth));
        padding: 0;
    }

    textarea {
        background-image: none;
        resize: none;
    }

    .addTaskBottom {
        position: fixed;
        z-index: 2;
        left: 0;
        right: 0;
        bottom: 80px;
        width: inherit;
        background: var(--lightGray2);
        padding: var(--sidePadding);
        align-items: center;
    }
}

@media (max-width: 428px) {
    :root {
        --fontSizeSmall: 14px;
        --sidePadding: 12px;
    }

    .addTaskPrioBtns {
        gap: 12px;
    }

    .addTaskPrioBtns button {
        min-width: calc((100% - 24px)/3);
        gap: 6px;
        padding: 14px 12px;
        font-size: var(--fontSizeSmall);
    }

    .addTaskPrioBtns button img {
        width: 16px;
    }

    .addTaskBottom .btnPrimary {
        font-size: var(--fontSizeNormal);
    }
}

@media (max-width: 352px) {
    :root {
        --fontSizeSmall: 12px;
    }

    #addSubtask {
        width: calc(100% - 100px);
    }
}