.mainPrivacy {
    position: absolute;
    top: 180px;
    left: 328px;
    padding-right: 64px;
    margin-bottom: 40px;
    height: auto;
}

.headerPrivacy {
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
}

a{
    color: rgb(0, 0, 192);
}
p{
    margin-bottom: 24px;
}

