.boardHeaderContainer {
    margin-left: 230px;
    width: calc(100% - 230px);
    display: flex;
    align-items: center;
  }
  
  .boardHeader {
    width: 1056px;
    margin-left: 64px;
    margin-top: 79.5px;
    margin-bottom: 48px;
    display: flex;
    justify-content: space-between;
  }
  
  .boardHeader h1 {
    font-size: 61px;
    font-weight: 700;
    margin-block: unset;
  }

  .boardHeader input{
    padding:0;
    border-radius: 0;
  }
  
  .boardHeaderInteract {
    display: flex;
    align-items: center;
  }
  
  .boardHeaderInteract button {
    background-color: #2a3647;
    border: unset;
    border-radius: 10px;
    padding: 8px 16px;
    color: white;
    font-size: 21px;
    display: flex;
    gap: 10px;
    align-items: center;
  }
  .boardHeaderInteract button:hover {
    background-color: #29abe2;
  }
  
  .inputWithImg {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 312px;
    height: 48px;
    border-radius: 10px;
    background-color: white;
    margin-right: 32px;
    padding: 8px 20px;
    border: 1px solid #a8a8a8;
  
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box; /* Firefox, other Gecko */
    box-sizing: border-box; /* Opera/IE 8+ */
  }
  
  .inputWithImg:hover {
    cursor: pointer;
  }
  
  #findTask {
    border: unset;
    width: 232px;
    height: 32px;
    font-size: 20px;
    border-right: 1px solid #d1d1d1;
  }
  
  #findTask::placeholder {
    color: #d7d7d7;
  }
  
  .findTaskImg {
    width: 18px;
    height: 18px;
    background-size: contain;
    display: flex;
  }
  
  .findTaskImg:hover {
    background-color: #eeeeee;
    border-radius: 50%;
  }

  /* Main Board Content */

.boardContent {
    display: flex;
    flex-grow: 1;
    margin-left: 294px;
  }
  
  .sectionDragArea {
    display: flex;
    flex-direction: column;
    margin-right: 16px;
  }
  
  .headerDragArea {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 24px;
    width: 244px;
  }
  
  .addTaskToSection {
    width: 24px;
    height: 24px;
  }
  
  .addTaskToSection:hover {
    cursor: pointer;
    filter: invert(56%) sepia(80%) saturate(2198%) hue-rotate(166deg)
      brightness(102%) contrast(77%);
  }
  
  .dragArea {
    /* height: 100%; */
    margin-left: -8px;
    flex: 1;
    overflow-y: auto;
 
    max-height: 670px;
  }



  /* still checking */
  
  .todo {
    width: 212px;
    padding: 16px;
    border-radius: 24px;
    margin: 16px 8px;
    background-color: white;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
  
    font-size: 16px;
    font-weight: 400;
  }
  
  .todo:hover {
    cursor: pointer;
  }
  
  .toDoCategory {
    padding: 4px 16px;
    border-radius: 16px;
    color: white;
    background-color: #2a3647;
  }
  
  .toDoTitle {
    font-weight: 700;
    color: #2a3647;
  
    margin-bottom: 8px;
  }
  
  .toDoDescription {
    color: #a8a8a8;
  }
  
  .toDoSubtasks {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
  .toDoSubtasksProgress {
    height: 8px;
    width: 100px;
    border-radius: 4px;
    background-color: #f4f4f4;
  }
  
  .toDoSubtasksProgressFiller {
    height: 100%;
    border-radius: 4px;
    background-color: #4589ff;
  }
  
  .toDoSubtasksCount {
    font-size: 12px;
    display: flex;
  }
  
  .toDoBottom {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  
  .toDoAssignedContainer {
    display: flex;
  }
  
  .toDoAssigned {
    border: solid 1px white;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    color: white;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: -10px;
  }
  
  .toDoAssignedMore {
    border: solid 1px white;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    color: white;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: -10px;
    background-color: #a8a8a8;
  }
  
  .toDoPrio {
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
  }