<form class="addTaskForm" action="">
    <h1>Add Task</h1>
    <div class="addTaskFormMain">
        <div class="addTaskFormMainSide addTaskFormMainSideOne">
            <div class="addTaskField">
                <label for="addTaskTitle">
                    <h2>Title<p class="red">*</p>
                    </h2>
                </label>
                <input type="text" placeholder="Enter a title" id="addTaskTitle" required>
            </div>
            <div class="addTaskField">
                <label for="addTaskDescription">
                    <h2>Description</h2>
                </label>
                <textarea placeholder="Enter a description" id="addTaskDescription"></textarea>
            </div>
            <div class="addTaskField">
                <label for="addTaskAssigned">
                    <h2>Assigned to</h2>
                </label>
                <select id="addTaskAssigned" onclick="toggleSelectArrow('addTaskAssigned')"
                    style="background-image: url(./assets/img/select_icon.svg);">
                    <option value="">Select contacts to assign</option>
                    <option value="" class="optionContainer">
                        <p class="optionContent">test</p>
                    </option>
                    <option value="">CONTACT 2</option>
                </select>
            </div>
        </div>
        <div class="vr" id="formSeperator"></div>
        <div class="addTaskFormMainSide addTaskFormMainSideTwo">
            <div class="addTaskField">
                <label for="addTaskDue">
                    <h2>Due date<p class="red">*</p>
                    </h2>
                </label>
                <input type="date" id="addTaskDue" required>
            </div>
            <div class="addTaskField">
                <h2>Prio</h2>
                <div class="addTaskPrioBtns">
                    <button type="button" id="addTaskPrio1" onclick="handlePrioBtnClick(1)">Urgent <img
                            src="./assets/img/prio_icons/task_prio_urgent.svg" alt="icon" id="addTaskPrio1Img"></button>
                    <button type="button" id="addTaskPrio2" onclick="handlePrioBtnClick(2)">Medium <img
                            src="./assets/img/prio_icons/task_prio_medium.svg" alt="icon" id="addTaskPrio2Img"></button>
                    <button type="button" id="addTaskPrio3" onclick="handlePrioBtnClick(3)">Low <img
                            src="./assets/img/prio_icons/task_prio_low.svg" alt="icon" id="addTaskPrio3Img"></button>
                </div>
            </div>
            <div class="addTaskField">
                <label for="addTaskCategory" onclick="event.preventDefault()">
                    <h2>Category<p class="red">*</p>
                    </h2>
                </label>
                <div id="addTaskCategoryInputContainer" class="extendedInput" onclick="event.stopPropagation(); toggleDropdown('addTaskCategory')">
                <input class="dropdownBtn" type="text" placeholder="Select Task Category" id="addTaskCategory" required
                    onmousedown="event.preventDefault()">
                    <button type="button">
                        <img src="./assets/img/select_icon.svg" alt="icon" id="addTaskCategoryIcon" >
                    </button>
                </div>
                <ul class="dropdownMenu" id="addTaskCategoryMenu" style="display: none">
                    <li>CATEGORY 1</li>
                    <li>CATEGORY 2</li>
                </ul>
            </div>
            <div class="addTaskField">
                <label for="addSubtask">
                    <h2>Subtasks</h2>
                </label>
                <!-- Für die Funktion dieses Formularfelds scheint es keinen passenden input type zu geben. Evtl. hilft das:
                https://www.geeksforgeeks.org/how-to-create-tags-input-box-in-html-css-and-javascript/ -->
                <div id="addSubtaskInputContainer" class="extendedInput">
                    <input type="text" onclick="event.stopPropagation(); focusSubtask()" placeholder="Add new subtask"
                        id="addSubtask">
                    <div id="addSubtaskIconsPassive">
                        <button type="button" onclick="event.stopPropagation(); focusSubtask()">
                            <img src="./assets/img/plus_icon.svg" alt="icon">
                        </button>
                    </div>
                    <div id="addSubtaskIconsActive" style="display: none">
                        <button type="button" onclick="cancelSubtask()">
                            <img src="./assets/img/cancel.svg" alt="cancel subtask">
                        </button>
                        <div class="vr"></div>
                        <button type="button" onclick="createSubtask()">
                            <img src="./assets/img/check.svg" alt="create subtask">
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="subtasksContainer">
        <div id="subtasksLeftMargin"></div>
        <div class="subtasksListContainer">
            <ul id="subtasksList"></ul>
        </div>
    </div>
    <div class="addTaskBottom">
        <div class="fontSizeSmall">
            <p class="red" style="margin-bottom: 3px">*</p>
            This field is required
        </div>
        <div>
            <button type="reset" class="btnSecondary">Clear</button>
            <button type="submit" class="btnPrimary">Create Task</button>
        </div>
    </div>
</form>