<div id="logo">
    <img src="./assets/img/menu_icons/white_logo.svg">
</div>
<div id="menuBox">
    <div id="sideSummary" class="linkAlign menuHover"><img id="sideImgSummary" class="" src="./assets/img/menu_icons/summary.svg"><a id="linkSummary" href="./summary.html" class="menuLink">Summary</a></div>
    <div id="sideAddTask" class="linkAlign menuHover"><img id="sideImgAddTask" class="" src="./assets/img/menu_icons/add_task.svg"><a id="linkAddTask" href="./add_task.html" class="menuLink">Add Task</a></div>
    <div id="sideBoard" class="linkAlign menuHover"><img id="sideImgBoard" class="" src="./assets/img/menu_icons/board.svg"><a id="linkBoard" href="./board.html" class="menuLink">Board</a></div>
    <div id="sideContacts" class="linkAlign menuHover"><img id="sideImgContacts" class="" src="./assets/img/menu_icons/contacts.svg"><a id="linkContacts" href="./contacts.html" class="menuLink">Contacts</a></div>
</div>
<div id="infos">
    <a target="_blank" href="./privacy.html">Privacy Policy</a>
    <a target="_blank" href="./legal.html">Legal notice</a>
</div>
