<div id="logo">
    <img src="./assets/img/menu_icons/white_logo.svg">
</div>
<div id="menuBox">
    <div class="linkAlign menuHover"><img src="./assets/img/menu_icons/summary.svg"><a href="./summary.html" class="menuLink">Summary</a></div>
    <div class="linkAlign menuHover"><img src="./assets/img/menu_icons/add_task.svg"><a href="./add_task.html" class="menuLink">Add Task</a></div>
    <div class="linkAlign menuHover"><img src="./assets/img/menu_icons/board.svg"><a href="./board.html" class="menuLink">Board</a></div>
    <div class="linkAlign activ_bg"><img class="activMenuIcon" src="./assets/img/menu_icons/contacts.svg"><a href="./contacts.html" class="activMenuLink">Contacts</a></div>
</div>
<div id="infos">
    <a target="_blank" href="./privacy.html">Privacy Policy</a>
    <a target="_blank" href="./legal.html">Legal notice</a>
</div>
