<div id="logo">
    <img src="./assets/img/menu_icons/white_logo.svg">
</div>
<div id="menuBox">
    <div class="linkAlign menuHover"><img src="./assets/img/menu_icons/summary.svg"><a class="menuLink">Summary</a></div>
    <div class="linkAlign menuHover"><img src="./assets/img/menu_icons/add_task.svg"><a class="menuLink">Add Task</a></div>
    <div class="linkAlign menuHover"><img src="./assets/img/menu_icons/board.svg"><a class="menuLink">Board</a></div>
    <div class="linkAlign activ_bg"><img class="activMenuIcon" src="./assets/img/menu_icons/contacts.svg"><a class="activMenuLink">Contacts</a></div>
</div>
<div id="infos">
    <a href="">Privacy Policy</a>
    <a href="">Legal notice</a>
</div>
